@use '/src/host/styles/theme';

.controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;

  .cellControls {
    display: flex;
    gap: 10px;
  }

  button {
    text-transform: capitalize;
  }

  .clickTypes {
    display: flex;
    gap: 1px;

    .active {
      color: theme.$light;
      background-color: theme.$primary;

      &.entry {
        color: var(--cell-entry);
      }

      &.exit {
        color: var(--cell-exit);
      }

      &.wall {
        color: var(--cell-wall);
      }
    }
  }

  .execution {
    display: flex;
    gap: 10px;
  }

  .dimension {
    display: none;
  }
}

@media (width >= 960px) {
  .controller .dimension {
    display: flex;
    gap: 10px;
  }
}
