.arrayContainer {
  position: relative;
  padding: 0 20px;
  overflow: auto;

  .indices {
    position: absolute;
    bottom: calc(var(--cell-size) - 5px);
    display: flex;
    font-size: 0.75rem;
    opacity: 0.25;
    z-index: -1;

    span {
      display: flex;
      width: var(--cell-size);
      justify-content: center;
    }
  }

  .values {
    display: flex;
    padding: calc(var(--cell-size) + 20px) 0;

    .cell {
      display: flex;
      width: var(--cell-size);
      height: var(--cell-size);
      border-radius: 4px;
      margin: 0 calc(var(--cell-margin) / 2);
      border: 1px solid black;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
