.controller {
  padding: 0 20px;
  margin-bottom: 16px;
  gap: 20px;

  .numbers {
    display: flex;
    gap: 1rem;
    flex-basis: 75%;

    input {
      flex: 1;
      padding: 5px;
      border: 1px solid black;
    }

    .rndmBtn {
      background-color: #2b4bfe;
      color: white;
      padding: 5px 10px;
      border: none;
      border-radius: 4px;
    }
  }

  .controls {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex: 1;
    flex-basis: 25%;

    button:disabled {
      cursor: not-allowed;
    }

    button:disabled img {
      opacity: 0.5;
    }

    input[type="range"] {
      flex: 1;
    }
  }
}

@media screen and (width >= 960px) {
  .controller {
    display: flex;

    .controls {
      margin-top: 0;
    }
  }
}
