.grid {
  display: inline-grid;
  gap: 2px;
  margin: auto;

  button {
    border: 1px solid grey;
  }

  .type1 {
    background-color: blue;
  }

  .type2 {
    background-color: green;
  }

  .type3 {
    background-color: red;
  }

  .type4 {
    background-color: lightgray;
  }
}
