.grid {
  display: inline-grid;
  margin: auto;
  border: var(--pf-cell-size) solid var(--pf-cell-wall);

  button {
    border: 0.5px solid lightgrey;
    transition: all 0.33s;
  }

  .type0 {
    background-color: var(--pf-cell-clear);
  }

  .type1 {
    background-color: var(--pf-cell-entry);
  }

  .type2 {
    background-color: var(--pf-cell-exit);
  }

  .type3 {
    background-color: var(--pf-cell-wall);
    border-color: var(--pf-cell-wall);
  }

  .type4 {
    background-color: var(--pf-cell-fill);
    border-color: var(--pf-cell-fill);
  }

  .type5 {
    background-color: var(--pf-cell-path);
    border-color: var(--pf-cell-path);
  }
}
