.grid {
  display: inline-grid;
  gap: 1px;
  margin: auto;

  button {
    border: 1px solid grey;
    transition: all 0.33s;
  }

  .type0 {
    background-color: var(--cell-clear);
  }

  .type1 {
    background-color: var(--cell-entry);
  }

  .type2 {
    background-color: var(--cell-exit);
  }

  .type3 {
    background-color: var(--cell-wall);
  }

  .type4 {
    background-color: var(--cell-fill);
  }

  .type5 {
    background-color: var(--cell-path);
  }
}
