.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  ul {
    z-index: 1;
    list-style: none;
    gap: 10px;
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

    &[data-toggle="false"] {
      display: none;
    }

    li {
      padding: 10px;
      background-color: white;
      width: 100%;

      a {
        display: block;
        padding: 8px;
        border-radius: 8px;
        width: auto;
        text-transform: capitalize;
      }

      a.active {
        background-color: rgb(255, 64, 0);
        color: white;
      }

      a:hover {
        outline: 1px solid rgb(255, 163, 132);
      }
    }
  }

  img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 768px) {
  .navbar.navbar {
    padding: 10px 10px 10px 20px;

    ul {
      position: static;
      width: auto;
      display: flex;
      box-shadow: none;

      li {
        padding: 0;
      }
    }

    img {
      display: none;
    }
  }
}
