@media screen and (width >= 960px) {
  [data-tooltip] {
    position: relative;
  }

  [data-tooltip]:hover::after {
    position: absolute;
    bottom: -6px;
    left: 50%;
    z-index: 1;
    padding: 5px;
    font-size: 0.75rem;
    color: #fff;
    text-align: center;
    content: attr(data-tooltip);
    background-color: #333;
    border-radius: 4px;
    transition: opacity 0.3s ease-in-out;
    transform: translate(-50%, 100%);
  }

  [data-tooltip]:hover::before {
    position: absolute;
    bottom: -6px;
    left: 50%;
    content: '';
    border-color: transparent transparent #333;
    border-style: solid;
    border-width: 0 6px 10px;
    transform: translateX(-50%);
  }
}
