@use "/src/styles/theme";

.controllerWrapper {
  padding: 0 20px;
  margin-bottom: 16px;

  .controller {
    gap: 10px;
    margin-bottom: 20px;

    .numbers {
      display: flex;
      flex-basis: 75%;
      gap: 16px;

      .arrayInput {
        flex: 1;
        width: 100%;
        padding: 5px;
        color: black;
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
      }

      .arrayInput:placeholder-shown {
        border: 1px solid transparent;
        outline: 2px solid red;
      }

      .rndmBtn {
        padding: 5px 10px;
        color: white;
        background-color: theme.$primary;
        border: none;
        border-radius: 4px;
      }
    }

    .controls {
      display: flex;
      flex: 1;
      flex-basis: 25%;
      gap: 16px;
      margin-top: 20px;

      button:disabled {
        cursor: not-allowed;
      }

      button:disabled img {
        opacity: 0.5;
      }

      input[type="range"] {
        flex: 1;
        cursor: pointer;
      }
    }
  }
}

.checkboxWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;

  .listItem {
    list-style-type: none;

    .checkbox {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: center;

      > input,
      > label {
        cursor: pointer;
      }

      > label {
        text-transform: capitalize;
      }
    }
  }
}

.switchContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (width >= 960px) {
  .controllerWrapper .controller {
    display: flex;

    .controls {
      margin-top: 0;
    }
  }
}

[data-theme="dark"] {
  /* stylelint-disable-next-line no-descending-specificity */
  .controllerWrapper img {
    filter: invert(1);
  }
}
