.iconBtn {
  position: absolute;
  right: 25px;
  bottom: 15px;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  opacity: 0.5;
  fill: red;
  transition: all 0.5s;

  img {
    width: 25px;
    height: 25px;
  }
}
