@use '/src/styles/theme';
@use '/src/apps/sorting-visualizer/styles/cell-colors';

.arrayContainer {
  position: relative;
  padding: 0 20px;
  overflow: auto;

  .values {
    display: flex;
    padding: calc(var(--cell-size) + 20px) 0;

    .cell {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: var(--cell-size);
      height: var(--cell-size);
      margin: 0 calc(var(--cell-margin) / 2);
      color: theme.$dark;
      background-color: theme.$light;
      border: 1px solid theme.$base;
      border-radius: 4px;
      box-shadow: 0 4px 4px theme.$shadow1;
    }

    @include cell-colors.sort-status-colors;
  }

  .indices {
    position: absolute;
    bottom: calc(var(--cell-size) - 5px);
    z-index: -1;
    display: flex;
    font-size: 0.75rem;
    opacity: 0.25;

    li {
      display: flex;
      justify-content: center;
      width: var(--cell-size);
      margin: 0 calc(var(--cell-margin) / 2);
    }
  }
}
