@use '/src/host/styles/theme';
.cellInfo {
  display: none;
  gap: 20px;
  margin-right: 60px;

  & > div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .item {
    height: 15px;
    width: 15px;
  }

  .start {
    background-color: var(--pf-cell-entry);
  }

  .end {
    background-color: var(--pf-cell-exit);
  }

  .wall {
    background-color: var(--pf-cell-wall);
  }

  .visited {
    background-color: var(--pf-cell-visited);
  }

  .path {
    background-color: var(--pf-cell-path);
  }
}
.startTour {
  display: none;
  border: 1px solid theme.$base;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 0.4rem;
}

@media (width >= 768px) {
  .cellInfo {
    display: flex;
  }
}
@media (width>=960px) {
  .startTour {
    display: flex;
  }
}
