@use '/src/host/styles/theme';

.cellInfo {
  display: none;
  justify-content: flex-end;
  gap: 20px;
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 60px;

  & > div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .item {
    height: 15px;
    width: 15px;
  }

  .entry {
    background-color: var(--pf-cell-entry);
  }

  .exit {
    background-color: var(--pf-cell-exit);
  }

  .wall {
    background-color: var(--pf-cell-wall);
  }

  .visited {
    background-color: var(--pf-cell-visited);
  }

  .path {
    background-color: var(--pf-cell-path);
  }
}

@media (width >= 768px) {
  .cellInfo {
    display: flex;
  }
}
