@import '/src/host/styles/_colors';
$queenPath: '/icons/queen.svg';

.board {
  margin: auto;
  width: max-content;
  border: 1px solid black;
  .row {
    display: flex;
    text-align: center;
    .cell {
      width: 75px;
      height: 75px;
      border: 1px solid $black;
      &.evenCell {
        background-color: $white2;
      }
      &.oddCell {
        background-color: $boardGreen1;
      }
    }
  }
}

[data-value='true'] {
  background: url('#{$queenPath}') no-repeat center center;
  background-size: 40px 40px;
}
