.board {
  margin: auto;
  width: max-content;
  border: 1px solid black;
  & .cell {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    background-color: rgb(255, 159, 28);
  }
}

.header {
  // &input[type='number'] {
  //   width: 500px;
  // }
  &.input-queen {
    width: 500px;
  }
}
