@use '../../../../host/styles/_colors.scss' as col;
$queenPath: '/public/icons/queen.svg';

.board {
  margin: auto;
  width: max-content;
  border: 1px solid black;
  .row {
    display: flex;
    text-align: center;
    .cell {
      width: 75px;
      height: 75px;
      border: 1px solid col.$black;
      &.evenCell {
        background-color: col.$white2;
      }
      &.oddCell {
        background-color: col.$boardGreen1;
      }
    }
  }
}

[data-value='true'] {
  background: url('#{$queenPath}') no-repeat center center;
  background-size: 40px 40px;
}
