@use '../colors';

@mixin dark-theme {
  --light: #{colors.$white};
  --dark: #{colors.$black};
  --base: #{colors.$white};
  --background: #{colors.$black};
  --primary: #{colors.$blue1};
  --shadow1: #{colors.$white1};
  --shadow2: #{colors.$white2};
  --error: #{colors.$red1};
}
