@use '/src/apps/sorting-visualizer/styles/cell-colors';

.arrayContainer {
  position: relative;
  padding: 25px 0 40px;
  overflow-x: auto;

  .values {
    display: flex;
    align-items: flex-end;
    height: var(--bar-max-height);

    li {
      flex-shrink: 1;
      width: var(--bar-size);
      min-width: var(--bar-min-size);
      margin: 0 calc(var(--bar-margin) / 2);
      background-color: var(--color-bar);
      border: 1px solid var(--color-bar);
    }

    @include cell-colors.sort-status-colors;
  }

  .indices {
    position: absolute;
    bottom: 20px;
    display: flex;
    width: 100%;
    font-size: 0.4rem;
    opacity: 0.4;

    li {
      flex-shrink: 1;
      width: var(--bar-size);
      min-width: var(--bar-min-size);
      margin: 0 calc(var(--bar-margin) / 2);
    }
  }
}
