.arrayContainer {
  padding: 25px 0 40px;
  overflow-x: auto;
  position: relative;

  .values {
    display: flex;
    align-items: flex-end;
    height: var(--bar-max-height);

    li {
      border: 1px solid var(--bar-bg);
      width: var(--bar-size);
      min-width: var(--bar-min-size);
      background-color: var(--bar-bg);
      flex-shrink: 1;
      margin: 0 calc(var(--bar-margin) / 2);
    }
  }

  .indices {
    position: absolute;
    bottom: 20px;
    display: flex;
    width: 100%;
    font-size: 0.4rem;
    opacity: 0.4;

    li {
      width: var(--bar-size);
      min-width: var(--bar-min-size);
      flex-shrink: 1;
      margin: 0 calc(var(--bar-margin) / 2);
    }
  }
}
