/* stylelint-disable scss/at-rule-no-unknown */
@use 'src/host/styles/tooltip';
@use 'src/host/styles/themes/light';
@use 'src/host/styles/themes/dark';
@use 'src/host/styles/theme';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @include light.light-theme;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    @include dark.dark-theme;
  }
}

html[data-theme='light'] {
  @include light.light-theme;
}

html[data-theme='dark'] {
  @include dark.dark-theme;
}

body {
  font-family: Inter, sans-serif;
  color: theme.$base;
  background-color: theme.$background;
}

#screen-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  pointer-events: none;

  * {
    pointer-events: all;
  }
}

button.primary {
  padding: 5px 10px;
  color: theme.$light;
  background-color: theme.$primary;
  border: 1px solid theme.$primary;
  border-radius: 4px;
}

button.primary-outline {
  padding: 5px 10px;
  color: theme.$base;
  border: 1px solid theme.$primary;
  border-radius: 4px;
}

select:disabled,
button:disabled {
  cursor: not-allowed;
}

button:active:enabled {
  transform: scale(0.95);
}
