@use '/src/host/styles/theme';

.infoButton {
  display: none;
}

::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.dialog {
  background-color: theme.$background;
  width: max(800px, 50%);
  max-height: 80%;
  padding: 40px 20px 20px;
  border-radius: 8px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  box-shadow: 0 0 10px 0 theme.$shadow2;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: theme.$shadow1;
    border-radius: 10px;
  }
}

.closeButton {
  position: sticky;
  top: 0;
  left: 97%;
  background: none;
  border: none;
  cursor: pointer;
  font: bold;

  &:hover {
    transform: scale(1.2);
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: theme.$base;

  .contentHeading {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    padding-bottom: 5px;
    padding-top: 6px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .contentPara {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (width >= 1200px) {
  .infoButton {
    display: inline-block;
  }
}

[data-theme='dark'] {
  .closeButton {
    filter: invert(1);
  }
}
